.DS_Store
**/.DS_Store
**/target
**/*.rs.bk
node_modules
test-ledger
dist
.amman
.crates
test-programs
tests/ballista/logs/
programs/.bin
configs/.programs
/.env-local
/.local
pkg
.next
docs/.vitepress/cache
docs/.vitepress/dist
.tmp
